

<form>
  <div class="imgcontainer">
    <img src="../../assets/login2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="login.userName">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="login.password">
        
    <button type="submit" (click)="getLoginAuth()">Login</button>

  </div>

 
</form>


