<!-- topbar -->

<app-top-bar *ngIf="isloggedIn"></app-top-bar>

<br>
<form *ngIf="!isloggedIn">
    <div class="imgcontainer">
      <img src="../../assets/login2.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="userName">
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="passWord">
          
      <button type="submit" (click)="login()">Login</button>
  
    </div>
  
   
  </form>
  


    <!-- User_Page -->
<!-- <app-user></app-user>  -->

   <!-- Admin_Page -->



<section id="main"  *ngIf="isloggedIn">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <app-side-bar [navRole]="userRole"></app-side-bar>
        </div>
  
        <div class="col-md-10">
  
          
          <app-admin></app-admin>
  
        </div>
        
      </div>
    </div>
  </section>

<!-- Footer -->
<app-footer *ngIf="isloggedIn"></app-footer>