<div class="well">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title ">Leave Statistics</h3>
  </div>

  <div class="status" *ngFor="let leaveStatus of leaveStatuses">
    <h4>{{leaveStatus.leaveType}}</h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
        [style.width.%]="((leaveStatus.remainingDays)/(leaveStatus.allocationDays))*100">
        {{leaveStatus.remainingDays}}/{{leaveStatus.allocationDays}}
      </div>
    </div>
  </div>
</div>

<!-- <div class="carry">
  <h2>Carry Forward</h2>
  <div class="card-body"> -->

    <!-- <h2>Modal Example</h2> -->
    <!-- Trigger the modal with a button -->

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Apply Carry Forward</button> -->

    <!-- Modal -->
    <!-- <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog"> -->

        <!-- Modal content-->
        <!-- <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Apply Carry Forward</h4>
          </div>
          <div class="modal-body">

            <div align="center" class="form">
              <tr>
                <td> Id :</td>
                <td> <input type="text" name="Id" placeholder="Enter Id"></td>
              </tr>
              <br>
              <tr>
                <td>User Id :</td>
                <td> <input type="text" name="User Id" placeholder="Enter User Id"></td>
              </tr>
              <br>
              <tr>
                <td> Message :</td>
                <td> <input type="text" name="Message" placeholder="Enter Message"></td>
              </tr>
              <br>
              <tr>
                <td> Status Id :</td>
                <td> <input type="text" name="Status Id " placeholder="Enter Status Id"></td>
              </tr>
              <br>
              <tr>
                <td> Accepted By :</td>
                <td> <input type="text" name="Accepted By" placeholder="Accepted By"></td>
              </tr>




            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div> -->

      <!-- </div> -->
    <!-- </div> -->

  <!-- </div>





</div> -->