<div class="alert alert-success active">
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>


<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title ">Add Leave Request</h3>
  </div>
<app-add-leave-type></app-add-leave-type>
</div>

<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Leave History</h3>
  </div>
  <app-view-leave-type></app-view-leave-type>
</div>